Configuration/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0e8ba6f8-6b87-45bc-96cb-bd822733be51",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "945c434d-13fb-4577-b681-151356683158",
      "name": "Webhook",
      "webhookId": "0e8ba6f8-6b87-45bc-96cb-bd822733be51"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "GET",
        "": "",
        "url": "=https://www.virustotal.com/api/v3/ip_addresses/{{ $json.body.data.srcip }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        -48
      ],
      "id": "5104f253-fd8a-4790-8a59-e7e187002033",
      "name": "VirusTotal HTTP Request",
      "extendsCredential": "virusTotalApi",
      "credentials": {
        "virusTotalApi": {
          "id": "7zyJtJ20wGEZaiek",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.data?.attributes || {};\nconst summary = {\n  IP: items[0].json.data?.id || 'N/A',\n  Malicious: data.last_analysis_stats?.malicious || 0,\n  Suspicious: data.last_analysis_stats?.suspicious || 0,\n  Harmless: data.last_analysis_stats?.harmless || 0,\n  Undetected: data.last_analysis_stats?.undetected || 0,\n  Total_Engines: Object.keys(data.last_analysis_results || {}).length,\n  User_Vote_Harmless: data.total_votes?.harmless || 0,\n  User_Vote_Malicious: data.total_votes?.malicious || 0,\n  Tags: (data.tags || []).join(', '),\n  Tags_HTML: (data.tags || []).map(tag => `<span class=\"tag\">${tag.trim()}</span>`).join(''),\n  WHOIS: data.whois ? data.whois.split('\\n').slice(0, 8).join('\\n') : 'N/A',\n  Reputation: data.reputation || 0,\n  Last_Analysis: data.last_analysis_date ? new Date(data.last_analysis_date * 1000).toLocaleString('id-ID', { timeZone: 'Asia/Jakarta', dateStyle: 'short', timeStyle: 'short' }) : 'N/A',\n  Last_Modified: data.last_modification_date ? new Date(data.last_modification_date * 1000).toLocaleString('id-ID', { timeZone: 'Asia/Jakarta', dateStyle: 'short', timeStyle: 'short' }) : 'N/A',\n  Generated_At: new Date().toLocaleString('id-ID', { timeZone: 'Asia/Jakarta', dateStyle: 'short', timeStyle: 'short' })\n};\n\n// Logic status otomatis\nlet status = \"Harmless\"; // default\nif (summary.Malicious > 0) {\n  status = \"Malicious\";\n} else if (summary.Suspicious > 0) {\n  status = \"Suspicious\";\n} else if (summary.Harmless > 50) {\n  status = \"Harmless\";\n} else {\n  status = \"Unknown\";\n}\n\nsummary.Status = status;\n\nreturn [{ json: { summary } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -80
      ],
      "id": "10ca06a4-2426-4482-8eb1-5d21d09e8759",
      "name": "Summary"
    },
    {
      "parameters": {
        "command": "=sudo iptables -I DOCKER-USER -s {{ $json.summary.IP }} -j DROP"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        928,
        -176
      ],
      "id": "3416b854-847e-445a-8c9d-23a4026bda3c",
      "name": "Iptables Block",
      "credentials": {
        "sshPassword": {
          "id": "ehMGLGjFhK3XFzft",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "html": "<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 20px auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">\n    <div style=\"background-color: #d32f2f; color: white; padding: 15px; text-align: center;\">\n        <h2 style=\"margin: 0;\">🛡️ IP Blocked Successfully</h2>\n    </div>\n    <div style=\"padding: 20px; line-height: 1.6;\">\n        <p><strong>Status:</strong> <span style=\"color: #d32f2f;\">Malicious Detected</span></p>\n        <p><strong>IP Address:</strong> <code>{{ $('Summary').item.json.summary.IP }}</code></p>\n        <p><strong>Action:</strong> <code>IPTABLES -I DOCKER-USER -j DROP</code></p>\n        <p><strong>SSH Exit Code:</strong> {{ $json.code }} (Success)</p>\n    </div>\n    <div style=\"background-color: #f5f5f5; padding: 10px; text-align: center; font-size: 12px; color: #666;\">\n        Generated by n8n Automation at {{ new Date().toLocaleString() }}\n    </div>\n</div>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1136,
        -176
      ],
      "id": "71fb31eb-69a4-4258-a14f-9c23107ffb3e",
      "name": "Blocking Results"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>IP Threat Report</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      background-color: #f5f6fa;\n      color: #333;\n      padding: 20px;\n    }\n\n    h1 {\n      text-align: center;\n      color: #2f3640;\n    }\n\n    .report-card {\n      background-color: #fff;\n      border-radius: 12px;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.1);\n      max-width: 900px;\n      margin: 20px auto;\n      padding: 20px;\n      overflow-x: auto;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n\n    th, td {\n      padding: 12px 15px;\n      text-align: left;\n      border-bottom: 1px solid #e1e4e8;\n    }\n\n    th {\n      background-color: #2f3640;\n      color: #fff;\n      text-transform: uppercase;\n      letter-spacing: 0.05em;\n    }\n\n    tr:hover {\n      background-color: #f1f2f6;\n    }\n\n    .status {\n      font-weight: bold;\n      padding: 4px 8px;\n      border-radius: 6px;\n      color: #fff;\n      display: inline-block;\n    }\n\n    .Safe {\n      background-color: #44bd32;\n    }\n\n    .Harmless {\n      background-color: #44bd32;\n    }\n\n    .Suspicious {\n      background-color: #e1b12c;\n    }\n\n    .Malicious {\n      background-color: #e84118;\n    }\n\n    pre {\n      white-space: pre-wrap;\n      word-wrap: break-word;\n      font-size: 0.9em;\n      background-color: #f5f6fa;\n      padding: 10px;\n      border-radius: 6px;\n      border: 1px solid #dcdde1;\n    }\n\n    .tag {\n      background-color: #0097e6;\n      color: white;\n      padding: 3px 7px;\n      border-radius: 5px;\n      font-size: 0.8em;\n      margin-right: 3px;\n    }\n\n    @media (max-width: 600px) {\n      table, th, td {\n        font-size: 0.85em;\n      }\n    }\n  </style>\n</head>\n<body>\n\n  <h1>IP Threat Report</h1>\n\n  <div class=\"report-card\">\n    <table>\n      <tr><th>IP Address</th><td>{{$json[\"summary\"][\"IP\"]}}</td></tr>\n      <tr><th>Status</th><td><span class=\"status {{$json[\"summary\"][\"Status\"]}}\">{{$json[\"summary\"][\"Status\"]}}</span></td></tr>\n      <tr><th>Malicious</th><td>{{$json[\"summary\"][\"Malicious\"]}}</td></tr>\n      <tr><th>Suspicious</th><td>{{$json[\"summary\"][\"Suspicious\"]}}</td></tr>\n      <tr><th>Harmless</th><td>{{$json[\"summary\"][\"Harmless\"]}}</td></tr>\n      <tr><th>Undetected</th><td>{{$json[\"summary\"][\"Undetected\"]}}</td></tr>\n      <tr><th>Total Engines</th><td>{{$json[\"summary\"][\"Total_Engines\"]}}</td></tr>\n      <tr><th>User Vote Harmless</th><td>{{$json[\"summary\"][\"User_Vote_Harmless\"]}}</td></tr>\n      <tr><th>User Vote Malicious</th><td>{{$json[\"summary\"][\"User_Vote_Malicious\"]}}</td></tr>\n      <tr><th>Tags</th><td>{!! $json[\"summary\"][\"Tags_HTML\"] !!}</td></tr>\n      <tr><th>Reputation</th><td>{{$json[\"summary\"][\"Reputation\"]}}</td></tr>\n      <tr><th>Last Analysis</th><td>{{$json[\"summary\"][\"Last_Analysis\"]}}</td></tr>\n      <tr><th>Last Modified</th><td>{{$json[\"summary\"][\"Last_Modified\"]}}</td></tr>\n      <tr><th>Generated At</th><td>{{$json[\"summary\"][\"Generated_At\"]}}</td></tr>\n      <tr><th>WHOIS Info</th><td><pre>{{$json[\"summary\"][\"WHOIS\"]}}</pre></td></tr>\n    </table>\n  </div>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1152,
        32
      ],
      "id": "37a385e1-c082-4e8b-9f1c-7aef818ac243",
      "name": "Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "380d6fa8-8948-4636-9596-c73e8c66e70e",
              "leftValue": "={{ $json.summary.Status }}",
              "rightValue": "Malicious",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -80
      ],
      "id": "31beec5a-eb0c-4db7-8a04-5375f6d02a73",
      "name": "Malicious Check"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "VirusTotal HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal HTTP Request": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Malicious Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iptables Block": {
      "main": [
        [
          {
            "node": "Blocking Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Malicious Check": {
      "main": [
        [
          {
            "node": "Iptables Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2217e8b779e3bd66f7bb06b35d132e4d205e2a8ef33c91418e74420d0170c5e"
  }
}